<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Publicaciones</div>

                    <div class="card-body">
                        
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{

            }
        },
        methods:{
            usuario(){
                let user = document.head.querySelector('meta[name="user"]');
                console.log(JSON.parse(user.content).id);
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.usuario();
        }
    }
</script>
