<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default mt-5">
                    <div class="card-header" >¿Que estas pensando {{user_name}}?</div>

                    <div class="card-body" >
                        <form action="#">
                        <div>
                            <input type="text" v-model="title" placeholder="titulo">
                        </div>
                        <div>
                            <input type="text" v-model="body" placeholder="Publicación">
                        </div>
                        
                        <div>
                            <input @click="registrarPost()" type="button" value="Publicar">
                        </div>
                        </form>
                    </div>
                </div>

                <div class="card card-default mt-5">
                    <div class="card-header" >Modificar</div>

                    <div class="card-body" >
                        <form action="#">
                        <div>
                            <input type="text" v-model="title" placeholder="titulo">
                        </div>
                        <div>
                            <input type="text" v-model="body" placeholder="Publicación">
                        </div>
                        
                        <div>
                            <input @click=" modificarPost()" type="button" value="Publicar">
                        </div>
                        </form>
                    </div>
                </div>

                <div v-for="post in arrayPosts" :key="post.id">
                <div class="card card-default mt-5">
                    <div class="card-header" v-text="post.user"></div>

                    <div class="card-body" >
                        <h1 v-text="post.title"></h1>
                        <p v-text="post.body"></p>
                        <div>
                            <input @click="actualiza(post)" type="button" value="Modificar">
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        
    </div>
</template>

<script>
    export default {
        data(){
            return{
                id: 0,
                user_id: 0,
                title: '',
                body: '',
                agregar: false,
                actualizar:false,
                arrayPosts:[],
                user_name : ''
            }
        },
        methods:{
            usuario(){
                let user = document.head.querySelector('meta[name="user"]');
                console.log(JSON.parse(user.content).id);
                this.user_name = JSON.parse(user.content).name;
                this.user_id =  JSON.parse(user.content).id;
            },
            listarPosts(){
                let me = this;
                var url = '/post';
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayPosts = response.data;
                    me.agregar=false;
                    me.actualizar=false;
                })
                .catch(function (error){
                    console.log(error);
                });
            },
            
            registrarPost(){
                let me = this;
                var url = '/post/registrar';
                axios.post(url,{
                    'title': this.title,
                    'body':this.body,
                    'user_id':this.user_id,
                    
                } ).then(function (response){
                    console.log(response); 
                    me.listarPosts();
                }).catch(function (error){
                     console.log(error);
                });
            },
            modificarPost(){
                let me = this;
                var url = '/post/modificar';
                axios.put(url,{
                    'id': this.id,
                    'title': this.title,
                    'body':this.body,
                } ).then(function (response){
                    console.log(response); 
                    me.listarPosts();
                }).catch(function (error){
                     console.log(error);
                });
            },
            actualiza(data = []){
                this.id= data['id'];
                this.title= data['title'];
                this.body= data['body'];
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.usuario();
            this.listarPosts();
        }
    }
</script>