

html{
  font-size: 16px;
}
/* Selector de etiqueta */
body{
  font-family: Arial,sans-serif;
}
p{
  font-size: 1rem;
  font-weight: 300;
  color: #2e2e2e;
}
section{
  margin-top: 4rem;
}


/* Selector de clase */
.container{
  max-width: 1024px;
  margin: 0 auto;
}
.navbar{
    background-color: #D6EAF8;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D6EAF8;
}

li {
    float: right;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #85C1E9;
}

.active {
    background-color: #5DADE2 ;
}

table{
    border: 1px solid #D6EAF8;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
thead{
    background-color: #AED6F1;
}
thead td {
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #D6EAF8;
  }
  
  tbody tr:nth-child(even) {
    background-color: #EBF5FB;
  }
  
  tbody tr {
    background-image: url(noise.png);
  }
  
  table {
    background-color: whitesmoke;
  }
  .text-center{
    text-align: center;
  }
  
.center{
    display: flex;
    justify-content: center;
    align-self: center;
    
}
.form-group{
    display: block;
    margin: 10px;
}

.form-control{
    border: 1px solid #dadce0;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 300px;
}
.btn{
    background-color: #AED6F1;
    width: 325px;
    padding: 10px;
    margin: 10px;
}
.form-label{
    width: 100px;
}
