<template>
    <h1>User name</h1>
    {{Auth::user()->name}}
</template>

<script>
    export default {
        props : ['ruta','id_usuario'],
        data(){
            return{
                arrayProducto:[],
                id_categoria:0,
                arrayCategoria: []
            }
        },
        methods : {
            listarProductos(id_categoria){
               
                let me = this;
                var url = this.ruta+'/producto?id_categoria='+id_categoria;
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayProducto = response.data.productos;
                    console.log(response);
                })
                .catch(function (error){
                    console.log(error);
                });
            }, 
            selectCategoria(){
                let me = this;
                var url=this.ruta+'/categoria/selectCategoria';
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayCategoria = response.data.categorias;
                    
                })
                .catch(function (error){
                    console.log(error);
                });
            },
            priceFormat(precio){
                var formato = Intl.NumberFormat('es-MX',{style:'currency',currency:'MXN'}).format(precio);
            
                return formato;
            }
        },
        mounted() {
            //this.listarProductos(this.id_categoria);
            //this.selectCategoria();
        }
    }
</script>

<style >
.div-error{
    display: flex;
    justify-content: center;
}
.text-error{
    color:red !important;
    font-weight: bold;
}
</style>