<template>

<div>
    <template v-if="agregar==true">
        <div class="tab ">			
            <div class="tab-content ">
                <div class="tab-content-inner active" data-content="signup">
                    <h3 class="cursive-font">Agregar Pastel</h3>
                    <form action="#" enctype= "multipart/form-data">
                        <div class="row form-group">
                            <div class="col-md-8">
                                <label >Nombre</label>
                                <input v-model="nombre" type="text"  class="form-control">
                                <label >Relleno</label>
                                 <select class="form-control" v-model="id_relleno">
                                    <option value="0" disabled>Seleccione</option>
                                    <option v-for="relleno in arrayRelleno" :key="relleno.id" :value="relleno.id" v-text="relleno.nombre"></option>
                                </select>  
                                 <label >Temática</label>
                                 <select class="form-control" v-model="id_tematica">
                                    <option value="0" disabled>Seleccione</option>
                                    <option v-for="tematica in arrayTematica" :key="tematica.id" :value="tematica.id" v-text="tematica.nombre"></option>
                                </select>  
                                <label>Precio</label>
                                <input v-model="precio" type="number" step="0.01"  class="form-control">
                                <label >Foto:</label>
                                <input type="file" id="imagen" ref="imagen" v-on:change="handleFileUpload()" class="form-control-file" accept="image/*"/>
                                <label>Descripcion</label>
                                <input v-model="descripcion" type="text" id="descripcion" class="form-control">
                                <div v-show="errorPastel" class="form-group row div-error ">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsjPastel" :key="error" v-text="error"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <input  @click="registrarPastel()" class="btn btn-primary btn-block" value="Agregar">
                            </div>
                            <div class="col-md-4">
                                <input @click="listarPastel()" class="btn btn-danger btn-block" value="regresar" >
                            </div>
                        </div>
                    </form>	
                </div>                    
            </div>
        </div>
    </template>
    <template v-if="actualizar==true">
        <div class="tab ">			
            <div class="tab-content ">
                <div class="tab-content-inner active" data-content="signup">
                    <h3 class="cursive-font">Actualizar Pastel</h3>
                    <form action="#" enctype= "multipart/form-data">
                        <div class="row form-group">
                            <div class="col-md-8">
                                <label >Nombre</label>
                                <input v-model="nombre" type="text"  class="form-control">
                                <label >Relleno</label>
                                 <select class="form-control" v-model="id_relleno">
                                    <option value="0" disabled>Seleccione</option>
                                    <option v-for="relleno in arrayRelleno" :key="relleno.id" :value="relleno.id" v-text="relleno.nombre"></option>
                                </select>  
                                 <label >Temática</label>
                                 <select class="form-control" v-model="id_tematica">
                                    <option value="0" disabled>Seleccione</option>
                                    <option v-for="tematica in arrayTematica" :key="tematica.id" :value="tematica.id" v-text="tematica.nombre"></option>
                                </select>  
                                <label>Precio</label>
                                <input v-model="precio" type="number" step="0.01"  class="form-control">
                                <label >Foto:</label>
                                <input type="file" id="imagen" ref="imagen"  v-on:change="handleFileUpload()" class="form-control-file" accept="image/*"/>
                                <label>Descripcion</label>
                                <input v-model="descripcion" type="text" id="descripcion" class="form-control">
                                <div v-show="errorPastel" class="form-group row div-error ">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsjPastel" :key="error" v-text="error"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <input  @click="actualizarPastel()" class="btn btn-primary btn-block" value="Agregar">
                            </div>
                            <div class="col-md-4">
                                <input @click="listarPastel()" class="btn btn-danger btn-block" value="regresar" >
                            </div>
                        </div>
                    </form>	
                </div>                    
            </div>
        </div>
    </template>
        <template v-if="agregar==false && actualizar==false">
        <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
            <h2 class="cursive-font primary-color">Lista de Pasteles disponibles</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 gtco-heading">
            <button type="button" class="btn"   @click="agrega()">
                <i class="icon-plus"> Agregar</i>
            </button>
            
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-4 col-md-4 col-sm-6" v-for="pastel in arrayPastel" :key="pastel.id">
            <a href="#" class="fh5co-card-item image-popup">
                <a v-bind:href="pastel.imagen">
                <figure>
                    <div class="overlay"><i class="ti-plus"></i></div>
                    <img v-bind:src="pastel.imagen" alt="Image" class="img-responsive">
                </figure>
                </a>
                <div class="fh5co-text">
                    <span v-text="pastel.nombre"></span>
                    <span >Relleno: {{pastel.relleno}} </span>
                    <span v-text="pastel.tematica"></span>
                    <h2> {{priceFormat(pastel.precio)}}</h2>
                    <span v-text="pastel.descripcion"></span>
                    <br>
                    <button type="button" class="btn btn-warning btn-xs"   @click="actualiza(pastel)">
                        <i class="ti-pencil"></i>
                    </button>
                    <template v-if="pastel.condicion">
                        <a href="#">
                            <button type="button" class="btn btn-danger btn-xs" @click="desactivarPastel(pastel.id)">
                                <i class="icon-trash"></i>
                            </button>
                        </a>
                    </template>
                    <template v-else>
                        <a href="#">
                            <button type="button" class="btn btn-info btn-xs" @click="activarPastel(pastel.id)">
                                <i class="icon-check"></i>
                            </button>
                        </a>
                    </template>
                   
                </div>
            </a>
        </div>
    </div>
    </template>
</div>
   
</template>

<script>
     export default {
        props : ['ruta'],
        data(){
            return{
                pastel_id:0,
                nombre : '',
                descripcion:'',
                precio: 0.0,
                agregar: false,
                actualizar:false,
                arrayPastel:[],
                errorPastel:0,
                errorMostrarMsjPastel:[],
                accion : 0,
                id_relleno:0,
                id_tematica:0,
                imagen: null,
                arrayTematica: [],
                arrayRelleno: [],
                imagePreview: null,
                showPreview: false,
            }
        },
        methods : {
            listarPastel(){
               
                let me = this;
                var url = this.ruta+'/pastel';
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayPastel = response.data.pasteles;
                    me.agregar=false;
                    me.actualizar=false;
                })
                .catch(function (error){
                    console.log(error);
                });
            }, 
            selectTematica(){
                let me = this;
                var url=this.ruta+'/tematica/selectTematica';
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayTematica = response.data.tematicas;
                    console.log(me.arrayTematica);
                })
                .catch(function (error){
                    //console.log(error);
                });
            },
            selectRellenos(){
                let me = this;
                var url=this.ruta+'/relleno/selectRelleno';
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayRelleno = response.data.rellenos;
                    //console.log(me.arrayRelleno);
                })
                .catch(function (error){
                    console.log(error);
                });
            },
            
            actualizarPastel(){
                

                let formData = new FormData();
                formData.append('imagen', this.imagen);
                formData.append('nombre',this.nombre);
                formData.append('descripcion',this.descripcion);
                formData.append('id_tematica',this.id_tematica);
                formData.append('id_relleno',this.id_relleno);
                formData.append('precio',this.precio);
                formData.append('id',this.pastel_id);

                //console.log("form data"+formData.get('imagen'));

                if (this.validarPastel()) {
                    return;
                }
                
                let me = this;
                var url = this.ruta+'/pastel/actualizar';
                axios.post(url,formData   
                    ,{
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    } ).then(function (response){
                    console.log("imprime response");
                    console.log(response);
                    console.log("un texto");
                    me.listarPastel();
                }).catch(function (error){
                    console.log(error);
                    console.log("un texto error");
                });
            },
            validarPastel(){
                this.errorPastel=0;
                this.errorMostrarMsjPastel =[];
                if (this.nombre=='') {
                    this.errorMostrarMsjPastel.push("El nombre de la Producto no puede faltar");
                }
                if (this.errorMostrarMsjPastel.length) {
                    this.errorPastel=1;
                }
                return this.errorPastel;
            },
            registrarPastel(){ 
                let formData = new FormData();
                formData.append('imagen', this.imagen);
                formData.append('nombre',this.nombre);
                formData.append('descripcion',this.descripcion);
                formData.append('id_tematica',this.id_tematica);
                formData.append('id_relleno',this.id_relleno);
                formData.append('precio',this.precio);

                if (this.validarPastel()) {
                    return;
                }
                let me = this;
                var url = this.ruta+'/pastel/registrar';
                axios.post(url, formData   
                    ,{
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(function (response){
                    //console.log(response); 
                    me.listarPastel();
                }).catch(function (error){
                     console.log(error);
                });
            },
             activarPastel(id){
                const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
                })
                swalWithBootstrapButtons.fire({
                title: 'Estas Seguro de activar la categoria?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Si, activar!',
                cancelButtonText: 'No, cancelar!',
                reverseButtons: true
                }).then((result) => {
                if (result.isConfirmed) {
                    let me = this;
                    var url = this.ruta+'/pastel/activar';
                    axios.put(url,{
                        'id': id,
                    } ).then(function (response){
                        me.agregar=false;
                        me.listarPastel();
                        swalWithBootstrapButtons.fire(
                            'Activado!',
                            'Your file has been updated.',
                            'success'
                        )
                    }).catch(function (error){
                        console.log(error);
                    });
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                    'Cancelado',
                    'Your imaginary file is safe :)',
                    'error'
                    )
                }
                })
            },
            desactivarPastel(id){
                const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                title: 'Estas Seguro?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Si, desactivar!',
                cancelButtonText: 'No, cancelar!',
                reverseButtons: true
                }).then((result) => {
                if (result.isConfirmed) {

                    
                    let me = this;
                    var url = this.ruta+'/pastel/desactivar'
                    axios.put(ur,{
                        'id': id,
                        
                    } ).then(function (response){
                        me.agregar=false;
                        me.listarPastel();
                        swalWithBootstrapButtons.fire(
                            'Desactivado!',
                            'Your file has been deleted.',
                            'success'
                        )
                    }).catch(function (error){
                        console.log(error);
                    });
                    
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                    'Cancelado',
                    'Your imaginary file is safe :)',
                    'error'
                    )
                }
                })
            },
            
            actualiza(data = []){
                this.agregar=false;
                this.actualizar=true;
                this.nombre=data['nombre'];
                this.descripcion=data['descripcion'];
                this.precio=data['precio'];
                this.id_relleno = data['id_relleno'];
                this.id_tematica = data['id_tematica'];
                //this.imagen = data['imagen'];
                this.pastel_id=data['id'];
                //console.log(this.pastel_id);
                this.selectTematica();
                this.selectRellenos();
            },
            agrega(){
                this.agregar=true;
                this.actualizar=false;
                this.nombre="";
                this.descripcion="";
                this.selectTematica();
                this.selectRellenos();
            },
            lista(){
                this.agregar=false;
                this.actualizar=false;
            },
            handleFileUpload(){
                this.imagen = this.$refs.imagen.files[0];
            },
            priceFormat(precio){
                var formato = Intl.NumberFormat('es-MX',{style:'currency',currency:'MXN'}).format(precio);
                return formato;
            }
        },
        mounted() {
            //console.log('Component mounted.');
            this.listarPastel();
            this.lista();
        }
    }
</script>
<style >
.div-error{
    display: flex;
    justify-content: center;
}
.text-error{
    color:red !important;
    font-weight: bold;
}
</style>