<template>
    <div class="tab ">			
        <div class="tab-content ">
            <div class="row form-group">
                <div class="col-md-12">
                    <label >Temática</label>
                    <select class="form-control" v-model="id_tematica" @change="listarPastel(id_tematica)">
                        <option value="0" >Todos</option>
                        <option v-for="tematica in arrayTematica" :key="tematica.id" :value="tematica.id" v-text="tematica.nombre"></option>
                    </select> 
                </div>
                
                    
            </div>
             <div class="row" >
                 <div v-for="pastel in arrayPastel" :key="pastel.id">
                     <div class="col-lg-4 col-md-4 col-sm-6" v-if="pastel.condicion">
                        <a href="#" class="fh5co-card-item image-popup">
                            <a v-bind:href="pastel.imagen">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img v-bind:src="pastel.imagen" alt="Image" class="img-responsive">
                            </figure>
                            </a>
                            <div class="fh5co-text">
                                <span v-text="pastel.nombre"></span>
                                <span >Relleno: {{pastel.relleno}} </span>
                                <span v-text="pastel.tematica"></span>
                                <h2> {{priceFormat(pastel.precio)}}</h2>
                                <span v-text="pastel.descripcion"></span>
                                <br>
                            </div>
                        </a>
                    </div>
                 </div>
                
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props : ['ruta'],
        data(){
            return{
                arrayPastel:[],
                id_tematica:0,
                arrayTematica: []
            }
        },
        methods : {
             listarPastel(id_tematica){
               
                let me = this;
                var url = this.ruta+'/pastel?id_tematica='+id_tematica;
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayPastel = response.data.pasteles;
                    me.agregar=false;
                    me.actualizar=false;
                })
                .catch(function (error){
                    console.log(error);
                });
            }, 
            selectTematica(){
                let me = this;
                var url=this.ruta+'/tematica/selectTematica';
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayTematica = response.data.tematicas;
                    console.log(me.arrayTematica);
                })
                .catch(function (error){
                    //console.log(error);
                });
            },
            priceFormat(precio){
                var formato = Intl.NumberFormat('es-MX',{style:'currency',currency:'MXN'}).format(precio);
            
                return formato;
            }
        },
        mounted() {
            this.listarPastel(this.id_tematica);
            this.selectTematica();
        }
    }
</script>

<style >
.div-error{
    display: flex;
    justify-content: center;
}
.text-error{
    color:red !important;
    font-weight: bold;
}
</style>