<template>
    <div class="tab ">			
        <div class="tab-content ">
            <div class="row form-group">
                <div class="col-md-12">
                    <label >Categoria</label>
                    <select class="form-control" v-model="id_categoria" @change="listarProductos(id_categoria)">
                        <option value="0" >Todos</option>
                        <option v-for="categoria in arrayCategoria" :key="categoria.id" :value="categoria.id" v-text="categoria.nombre"></option>
                    </select> 
                </div>
            </div>
             <div class="row" >
                <div v-for="producto in arrayProducto" :key="producto.id">
                    <div class="col-lg-4 col-md-4 col-sm-6" v-if="producto.condicion" >
                    <template v-if="producto.condicion">
                    <a href="#" class="fh5co-card-item">
                        
                        <div class="fh5co-text">
                            <h1 v-text="producto.nombre"></h1>
                            <h2 v-text="producto.categoria"></h2>
                            <h4>{{priceFormat(producto.precio)}}</h4>
                            <p v-text="producto.descripcion"></p>
                        </div>
                    </a>
                    </template>
                    
                </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props : ['ruta'],
        data(){
            return{
                arrayProducto:[],
                id_categoria:0,
                arrayCategoria: []
            }
        },
        methods : {
            listarProductos(id_categoria){
               
                let me = this;
                var url = this.ruta+'/producto?id_categoria='+id_categoria;
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayProducto = response.data.productos;
                    console.log(response);
                })
                .catch(function (error){
                    console.log(error);
                });
            }, 
            selectCategoria(){
                let me = this;
                var url=this.ruta+'/categoria/selectCategoria';
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayCategoria = response.data.categorias;
                    
                })
                .catch(function (error){
                    console.log(error);
                });
            },
            priceFormat(precio){
                var formato = Intl.NumberFormat('es-MX',{style:'currency',currency:'MXN'}).format(precio);
            
                return formato;
            }
        },
        mounted() {
            this.listarProductos(this.id_categoria);
            this.selectCategoria();
        }
    }
</script>

<style >
.div-error{
    display: flex;
    justify-content: center;
}
.text-error{
    color:red !important;
    font-weight: bold;
}
</style>