<template>

<div>
    <template v-if="agregar==true">
        <div class="tab ">			
            <div class="tab-content ">
                <div class="tab-content-inner active" data-content="signup">
                    <h3 class="cursive-font">Agregar Articulo</h3>
                    <form action="#" enctype= "multipart/form-data">
                        <div class="row form-group">
                            <div class="col-md-8">
                                <label >Nombre</label>
                                <input v-model="nombre" type="text"  class="form-control">
                                <label >Categoria</label>
                                 <select class="form-control" v-model="id_categoria">
                                    <option value="0" disabled>Seleccione</option>
                                    <option v-for="categoria in arrayCategoria" :key="categoria.id" :value="categoria.id" v-text="categoria.nombre"></option>
                                </select>  
                                <label>Precio</label>
                                <input v-model="precio" type="number" step="0.01"  class="form-control">
                                <label>Descripcion</label>
                                <input v-model="descripcion" type="text" id="descripcion" class="form-control">
                                <div v-show="errorProducto" class="form-group row div-error ">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsjProducto" :key="error" v-text="error"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <input  @click="registrarProducto()" class="btn btn-primary btn-block" value="Agregar">
                            </div>
                            <div class="col-md-4">
                                <input @click="listarProductos()" class="btn btn-danger btn-block" value="regresar" >
                            </div>
                        </div>
                    </form>	
                </div>                    
            </div>
        </div>
    </template>
    <template v-if="actualizar==true">
        <div class="tab ">			
            <div class="tab-content ">
                <div class="tab-content-inner active" data-content="signup">
                    <h3 class="cursive-font">Actualizar Producto</h3>
                    <form action="#" enctype= "multipart/form-data">
                        <div class="row form-group">
                            <div class="col-md-8">
                                <label >Nombre</label>
                                <input v-model="nombre" type="text"  class="form-control">
                                <label >Categoria</label>
                                 <select class="form-control" v-model="id_categoria">
                                    <option value="0" disabled>Seleccione</option>
                                    <option v-for="categoria in arrayCategoria" :key="categoria.id" :value="categoria.id" v-text="categoria.nombre"></option>
                                </select>  
                                <label>Precio</label>
                                <input v-model="precio" type="number" step="0.01"  class="form-control">
                                <label>Descripcion</label>
                                <input v-model="descripcion" type="text" id="descripcion" class="form-control">
                                <div v-show="errorProducto" class="form-group row div-error ">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsjProducto" :key="error" v-text="error"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <input  @click="actualizarProducto()" class="btn btn-primary btn-block" value="Agregar">
                            </div>
                            <div class="col-md-4">
                                <input @click="listarProductos()" class="btn btn-danger btn-block" value="regresar" >
                            </div>
                        </div>
                    </form>	
                </div>                    
            </div>
        </div>
    </template>
        <template v-if="agregar==false && actualizar==false">
        <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
            <h2 class="cursive-font primary-color">Lista de Productos disponibles</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 gtco-heading">
             <button type="button" class="btn"   @click="agrega()">
                <i class="icon-plus"> Agregar</i>
            </button>
           
        </div>
    </div>
    <div class="row" >
        <table class="table table bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Opciones</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Condicion</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="producto in arrayProducto" :key="producto.id">
                    <td>
                        <button type="button" class="btn btn-warning"  @click="actualiza(producto)">
                            <i class="icon-pencil"></i>
                        </button>
                        <template v-if="producto.condicion">
                            <button type="button" class="btn btn-danger btn-xs" @click="desactivarProducto(producto.id)">
                                <i class="icon-trash"></i>
                            </button>
                        </template>
                        <template v-else>
                            <button type="button" class="btn btn-info btn-xs" @click="activarProducto(producto.id)">
                                <i class="icon-check"></i>
                            </button>
                        </template>
                    </td>
                    <td v-text="producto.nombre"></td>
                    <td v-text="producto.categoria"></td>
                    <td v-text="producto.descripcion"></td>
                    <td v-text="producto.precio"></td>
                     <td>
                        <div v-if="producto.condicion==1">
                            <span class="label label-success">Activo</span>
                        </div>
                        <div v-else>
                            <span class="label label-danger">Desactivado</span>
                        </div>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>
    </template>
</div>
   
</template>

<script>
     export default {
        props : ['ruta'],
        data(){
            return{
                producto_id:0,
                nombre : '',
                descripcion:'',
                precio: 0.0,
                agregar: false,
                actualizar:false,
                arrayProducto:[],
                errorProducto:0,
                errorMostrarMsjProducto:[],
                accion : 0,
                id_categoria:0,
                arrayCategoria: []
            }
        },
        methods : {
            listarProductos(){
               
                let me = this;
                var url = this.ruta+'/producto';
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayProducto = response.data.productos;
                    me.agregar=false;
                    me.actualizar=false;
                })
                .catch(function (error){
                    console.log(error);
                });
            }, 
            selectCategoria(){
                let me = this;
                var url=this.ruta+'/categoria/selectCategoria';
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayCategoria = response.data.categorias;
                    console.log(me.arrayCategoria);
                })
                .catch(function (error){
                    console.log(error);
                });
            },
            
            actualizarProducto(){
                if (this.validarProducto()) {
                    return;
                }
                
                let me = this;
                var url=this.ruta+'/producto/actualizar';
                axios.put(url,{
                    'nombre': this.nombre,
                    'descripcion':this.descripcion,
                    'precio':this.precio,
                    'id_categoria':this.id_categoria,
                    'id': this.producto_id,
                } ).then(function (response){
                    console.log(response);
                    console.log("un texto");
                    me.listarProductos();
                }).catch(function (error){
                     console.log(error);
                    console.log("un texto error");
                });
            },
            validarProducto(){
                this.errorProducto=0;
                this.errorMostrarMsjProducto =[];
                if (this.nombre=='') {
                    this.errorMostrarMsjProducto.push("El nombre de la Producto no puede faltar");
                }
                if (this.errorMostrarMsjProducto.length) {
                    this.errorProducto=1;
                }
                return this.errorProducto;
            },
            registrarProducto(){ 
                if (this.validarProducto()) {
                    return;
                }
                let me = this;
                var url = this.ruta+'/producto/registrar';
                axios.post(url,{
                    'nombre': this.nombre,
                    'descripcion':this.descripcion,
                    'precio':this.precio,
                    'id_categoria':this.id_categoria,
                    
                } ).then(function (response){
                    console.log(response); 
                    me.listarProductos();
                }).catch(function (error){
                     console.log(error);
                });
            },
             activarProducto(id){
                const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
                })
                swalWithBootstrapButtons.fire({
                title: 'Estas Seguro de activar la categoria?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Si, activar!',
                cancelButtonText: 'No, cancelar!',
                reverseButtons: true
                }).then((result) => {
                if (result.isConfirmed) {
                    let me = this;
                    var url = this.ruta+'/producto/activar';
                    axios.put(url,{
                        'id': id,
                    } ).then(function (response){
                        me.agregar=false;
                        me.listarProductos();
                        swalWithBootstrapButtons.fire(
                            'Activado!',
                            'Your file has been updated.',
                            'success'
                        )
                    }).catch(function (error){
                        console.log(error);
                    });
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                    'Cancelado',
                    'Your imaginary file is safe :)',
                    'error'
                    )
                }
                })
            },
            desactivarProducto(id){
                const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                title: 'Estas Seguro?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Si, desactivar!',
                cancelButtonText: 'No, cancelar!',
                reverseButtons: true
                }).then((result) => {
                if (result.isConfirmed) {

                    
                    let me = this;
                    var url = this.ruta+'/producto/desactivar';
                    axios.put(url,{
                        'id': id,
                        
                    } ).then(function (response){
                        me.agregar=false;
                        me.listarProductos();
                        swalWithBootstrapButtons.fire(
                            'Desactivado!',
                            'Your file has been deleted.',
                            'success'
                        )
                    }).catch(function (error){
                        console.log(error);
                    });
                    
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                    'Cancelado',
                    'Your imaginary file is safe :)',
                    'error'
                    )
                }
                })
            },
            
            actualiza(data = []){
                this.agregar=false;
                this.actualizar=true;
                this.nombre=data['nombre'];
                this.descripcion=data['descripcion'];
                this.precio=data['precio'];
                this.id_categoria = data['id_categoria'];
                this.producto_id=data['id'];
                this.selectCategoria();
            },
            agrega(){
                this.agregar=true;
                this.actualizar=false;
                this.nombre="";
                this.descripcion="";
                this.selectCategoria();
            },
            lista(){
                this.agregar=false;
                this.actualizar=false;
            }
        },
        mounted() {
            //console.log('Component mounted.');
            this.listarProductos();
            this.lista();
        }
    }
</script>
<style >
.div-error{
    display: flex;
    justify-content: center;
}
.text-error{
    color:red !important;
    font-weight: bold;
}
</style>