<template>
    <div>
        <template v-if="agregar==false">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2 class="cursive-font primary-color">Lista de roles disponibles</h2>
                </div>
                <div class="row" >
                    <table class="table table bordered table-striped table-sm">
                        <thead>
                            <tr>
                                
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Condicion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="rol in arrayRol" :key="rol.id">
                                <td v-text="rol.nombre"></td>
                                <td v-text="rol.descripcion"></td>
                                <td>
                                    <div v-if="rol.condicion==1">
                                        <span class="label label-success">Activo</span>
                                    </div>
                                    <div v-else>
                                        <span class="label label-danger">Desactivado</span>
                                    </div>
                                </td>   
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </template>
			
	</div>
</template>

<script>
    export default {
        props : ['ruta'],
        data(){
            return{
                rol_id:0,
                nombre : '',
                descripcion:'',
                agregar: false,
                actualizar:false,
                arrayRol:[]
            }
        },
        methods : {
            listarrols(){
                let me = this;
                var url = this.ruta+'/rol';
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayRol = response.data;
                    me.agregar=false;
                    me.actualizar=false;
                })
                .catch(function (error){
                    console.log(error);
                });
            }
        },
        mounted() {
            //console.log('Component mounted.');
            this.listarrols();
            this.agregar=false;
        }
    }
</script>
