<template>
    <div class="gtco-section">
		<div class="gtco-container">
            <template v-if="agregar==true">
                <div class="tab ">			
                    <div class="tab-content ">
                        <div class="tab-content-inner active" data-content="signup">
                            <h3 class="cursive-font">Agregar Tematica</h3>
                            <form action="#" enctype= "multipart/form-data">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label >Nombre</label>
                                        <input v-model="nombre" type="text" id="date" class="form-control">
                                        <label>Descripcion</label>
                                        <input v-model="descripcion" type="text" id="descripcion" class="form-control">
                                        <div v-show="errorTematica" class="form-group row div-error ">
                                            <div class="text-center text-error">
                                                <div v-for="error in errorMostrarMsjTematica" :key="error" v-text="error"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <input  @click="registrarTematica()" class="btn btn-primary btn-block" value="Agregar">
                                    </div>
                                    <div class="col-md-6">
                                        <input @click="listarTematicas()" class="btn btn-danger btn-block" value="regresar" >
                                    </div>
                                </div>
                            </form>	
                        </div>                    
                    </div>
                </div>
            </template>
            <template v-if="actualizar==true">
                <div class="tab ">			
                    <div class="tab-content ">
                        <div class="tab-content-inner active" data-content="signup">
                            <h3 class="cursive-font">Actualizar Tematica</h3>
                            <form action="#" enctype= "multipart/form-data">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label >Nombre</label>
                                        <input v-model="nombre" type="text" id="date" class="form-control">
                                        <label>Descripcion</label>
                                        <input v-model="descripcion" type="text" id="descripcion" class="form-control">
                                        <div v-show="errorTematica" class="form-group row div-error ">
                                            <div class="text-center text-error">
                                                <div v-for="error in errorMostrarMsjTematica" :key="error" v-text="error"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <input  @click="actualizarTematica()" class="btn btn-primary btn-block" value="Agregar">
                                    </div>
                                    <div class="col-md-6">
                                        <input @click="listarTematicas()" class="btn btn-danger btn-block" value="regresar" >
                                    </div>
                                </div>
                            </form>	
                        </div>                    
                    </div>
                </div>
            </template>
             <template v-if="agregar==false">
                <div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2 class="cursive-font primary-color">Lista de Tematicas disponibles</h2>
				</div>
			</div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 gtco-heading">
                    <li @click="abrirAccion('tematica','registrar')" class="btn"><a href="#"><span>Agregar +</span></a></li>
				</div>
            </div>
			<div class="row" >
                <table class="table table bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Opciones</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Condicion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="Tematica in arrayTematica" :key="Tematica.id">
                            <td>
                                <button type="button" class="btn btn-warning">
                                    <li @click="abrirAccion('tematica','actualizar',Tematica)"><a href="#"><i class="icon-pencil"></i></a></li>
                                </button>&nbsp;
                                <template v-if="Tematica.condicion">
                                    <button type="button" class="btn btn-danger btn-xs" @click="desactivarTemtica(Tematica.id)">
                                        <i class="icon-trash"></i>
                                    </button>
                                </template>
                                <template v-else>
                                    <button type="button" class="btn btn-info btn-xs" @click="activarTemtica(Tematica.id)">
                                        <i class="icon-check"></i>
                                    </button>
                                </template>
                            </td>
                            <td v-text="Tematica.nombre"></td>
                            <td v-text="Tematica.descripcion"></td>
                            <td>
                                <div v-if="Tematica.condicion==1">
                                    <span class="label label-success">Activo</span>
                                </div>
                                <div v-else>
                                    <span class="label label-danger">Desactivado</span>
                                </div>
                            </td> 
                            
                        </tr>
                    </tbody>
                </table>
			</div>
            </template>
			
		</div>
	</div>
</template>

<script>
    export default {
        props : ['ruta'],
        data(){
            return{
                tematica_id:0,
                nombre : '',
                descripcion:'',
                agregar: false,
                actualizar:false,
                arrayTematica:[],
                errorTematica:0,
                errorMostrarMsjTematica:[],
                accion : 0
            }
        },
        methods : {
            cerrarAccion(){
                this.agregar=false;
                this.actualizar=false;
                this.nombre='';
                this.descripcion='';
            },
            listarTematicas(){
               
                let me = this;
                var url = this.ruta+'/tematica';
                axios.get(url).then(function (response){
                    console.log(response);
                    me.arrayTematica = response.data;
                    me.agregar=false;
                    me.actualizar=false;
                })
                .catch(function (error){
                    console.log(error);
                });
            }, 
            activarTemtica(id){
                const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
                })
                swalWithBootstrapButtons.fire({
                title: 'Estas Seguro de activar la Tematica?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Si, activar!',
                cancelButtonText: 'No, cancelar!',
                reverseButtons: true
                }).then((result) => {
                if (result.isConfirmed) {
                    let me = this;
                    var url = this.ruta+'/tematica/activar';
                    axios.put(url,{
                        'id': id,
                    } ).then(function (response){
                        me.agregar=false;
                        me.listarTematicas();
                        swalWithBootstrapButtons.fire(
                            'Activado!',
                            'Your file has been updated.',
                            'success'
                        )
                    }).catch(function (error){
                        console.log(error);
                    });
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                    'Cancelado',
                    'Your imaginary file is safe :)',
                    'error'
                    )
                }
                })
            },
            desactivarTemtica(id){
                const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                title: 'Estas Seguro?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Si, desactivar!',
                cancelButtonText: 'No, cancelar!',
                reverseButtons: true
                }).then((result) => {
                if (result.isConfirmed) {

                    
                    let me = this;
                    var url = this.ruta+'/tematica/desactivar';
                    axios.put(url,{
                        'id': id,
                        
                    } ).then(function (response){
                        me.agregar=false;
                        me.listarTematicas();
                        swalWithBootstrapButtons.fire(
                            'Desactivado!',
                            'Your file has been deleted.',
                            'success'
                        )
                    }).catch(function (error){
                        console.log(error);
                    });
                    
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                    'Cancelado',
                    'Your imaginary file is safe :)',
                    'error'
                    )
                }
                })
            },
            actualizarTematica(){
                if (this.validarTematica()) {
                    return;
                }
                let me = this;
                var url = this.ruta+'/tematica/actualizar';
                axios.put(url,{
                    'nombre': this.nombre,
                    'descripcion':this.descripcion,
                    'id':this.tematica_id
                } ).then(function (response){
                    console.log(response);
                    me.cerrarAccion();
                    me.listarTematicas();
                }).catch(function (error){
                     console.log(error);
                });
            },
            validarTematica(){
                this.errorTematica=0;
                this.errorMostrarMsjTematica =[];
                if (this.nombre=='') {
                    this.errorMostrarMsjTematica.push("El nombre de la tematica no puede faltar");
                }
                if (this.errorMostrarMsjTematica.length) {
                    this.errorTematica=1;
                }
                return this.errorTematica;
            },
            registrarTematica(){ 
                if (this.validarTematica()) {
                    return;
                }
                let me = this;
                var url = this.ruta+'/tematica/registrar';
                axios.post(url,{
                    'nombre': this.nombre,
                    'descripcion':this.descripcion,
                    
                } ).then(function (response){
                    console.log(response); 
                    me.cerrarAccion();
                    me.listarTematicas();
                }).catch(function (error){
                     console.log(error);
                });
            },
            abrirAccion(modelo, accion, data = []){
                switch (modelo) {
                    case "tematica":
                    {
                        switch (accion) {
                            case "registrar":
                            {
                                this.agregar=true;
                                this.nombre = '';
                                this.descripcion='';
                                break;
                            }
                            case "actualizar":
                            {
                                //console.log(data);
                                this.actualizar=true;
                                this.tematica_id = data['id'];
                                this.nombre = data['nombre'];
                                this.descripcion = data['descripcion'];
                                break;
                            }
                        }
                    }
                }
            }
        },
        mounted() {
            //console.log('Component mounted.');
            this.listarTematicas();
            this.agregar=false;
        }
    }
</script>
<style >
.div-error{
    display: flex;
    justify-content: center;
}
.text-error{
    color:red !important;
    font-weight: bold;
}
</style>