<template>
    <div>
            <template>
                <div class="tab ">			
                    <div class="tab-content ">
                        <div class="tab-content-inner active" data-content="signup">
                            <h3 class="cursive-font">Registrarme</h3>
                            <form action="#" enctype= "multipart/form-data">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label >Nombre</label>
                                        <input v-model="name" type="text"  class="form-control">
                                        <label>Correo</label>
                                        <input v-model="email" type="email" class="form-control">
                                        <label>Contraseña</label>
                                        <input v-model="password" type="password" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <input  @click="registrarUsuario()" class="btn btn-primary btn-block" value="Registrarme">
                                    </div>
                                </div>
                            </form>	
                        </div>                    
                    </div>
                </div>
            </template>
			
		</div>
</template>

<script>
    export default {
        props : ['ruta'],
        data(){
            return{
                name : '',
                password:'',
                email: '',
                errorUsuario:0,
                errorMostrarMsjUsuario:[],
            }
        },
        methods : {
            limpiarFormulario(){
                this.name='';
                this.password='';
                this.email='';
            },
             
            validarUsuario(){
                this.errorUsuario=0;
                this.errorMostrarMsjUsuario =[];
                if (this.name=='') {
                    this.errorMostrarMsjUsuario.push("El nombre no puede faltar");
                }
                if (this.errorMostrarMsjUsuario.length){
                    this.errorUsuario=1;
                }
                return this.errorUsuario;
            },
            registrarUsuario(){ 
                if (this.validarUsuario()) {
                    return;
                }
                let me = this;
                var url = 'http://25.12.112.164:82/aranza-app/public/user/registrar';
                axios.post(url,{
                    'name': this.name,
                    'email':this.email,
                    'password':this.password
                    
                } ).then(function (response){
                    console.log(response); 
                    var url='http://25.12.112.164:82/aranza-app/public/loginForm';
                    window.location.replace(url);
                    alert("¡BIENVENIDO!"+ response.data.name +"\nYa puedes acceder al sitio con tu correo y contraseña");
                }).catch(function (error){
                     console.log(error);
                });
            }
        },
        mounted() {
            this.limpiarFormulario();
        }
    }
</script>

<style >
.div-error{
    display: flex;
    justify-content: center;
}
.text-error{
    color:red !important;
    font-weight: bold;
}
</style>